h1 {
  color: white;
  animation-name: heading1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#heading {
  color: orange;
  animation-name: heading2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes heading1 {
  from {
    color: white;
  }
  to {
    color: orange;
  }
}

@keyframes heading2 {
  from {
    color: orange;
  }
  to {
    color: white;
  }
}
