:root {
  --animation-speed: 2s;
}

/*Page animation*/
#page-1 h1 {
  transform: translateY(-1200px);
  animation: heading var(--animation-speed) forwards ease-in;
}

#page-1 p {
  transform: translateX(-2500px);
  animation: text var(--animation-speed) forwards ease-in 1s;
}

/*Keyframes*/
@keyframes heading {
  to {
    transform: translateY(0);
  }
}
@keyframes text {
  to {
    transform: translateX(0);
  }
}
